.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid black;
    background-color: #5f5c5ccb;
    height: 40px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.buttonNav{
  border: none;
  background-color: inherit;
  padding: 10px 40px 10px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: aliceblue;
  text-decoration: none;
  transition: 0.9s;

}

.buttonNav:hover {
    background-color: #363434;
    color: white;
}
.buttonNav:focus{
    background-color: #363434;
 }

.searchBar{
    margin-top: 15px;
    padding-left: 20px;
}
